<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather Application</title>
    <meta charset="UTF-8">
    <base href="/">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/lib/angular-loading-bar/build/loading-bar.min.css" type="text/css" media="all" />
    <script src="app/lib/requirejs/require.js" data-main="app/config"></script>
</head>

<body>
    <div ng-controller="weatherController as weather" class="container-fluid">
        <div class="navbar navbar-inverse">
            <div class="col-md-4 title-div">
                <h1 class="page-title">Open Weather App</h1>
            </div>
            <div class="col-md-5 search-input">
                <div class="input-group">
                    <input type="text" class="search-input-text form-control" placeholder="Enter a city name.." ng-model="weather.location">
                    <span class="input-group-btn">
                        <button class="btn btn-primary search-btn" type="button" ng-click="weather.getForecastByLocation(weather.location)">Search</button>
                    </span>
                </div>
            </div>
        </div>
        <div ui-view="content">
        </div>
    </div>

</body>

</html>